.list{
  margin: 58px auto;
  list-style-type: none;
  padding: 0;
  width: 639px;
  .el{
    margin-top: 41px;
    min-height: 105px;
    background: linear-gradient(180deg,rgba(0, 33, 151, 0.3) 30%, rgba(36, 38, 70, 0) 80%);
  }
}
